<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<div th:fragment="header">
    <style>

        .remove ul li {
            display: none;
        }
        .remove{
            display: none;
        }



        .notify {
            position: absolute;
            z-index: 2;
            right: 0px;
            top: 75px;
            border-radius: 5px;
            min-width: 550px;
            background-color: #eceff6ed;
            border: 2px solid rgb(30 30 39);
        }



        .notify ul {
            border-bottom: 1px solid #000000a8;
            display: flex;
            width: 100%;
            height: 80%;
            flex-direction: column;
        }

        .notify ul li {
            border-bottom: 1px solid #000000a8;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        .line {
            text-align: center;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 1px;
            background-color: #0000009c;
        }

        .right a{
            width: 150px !important;
            border: 1px solid white;
            border-radius: 5px;
            width: 60px;
            background-color: #eceff6;
        }

    </style>



    <header class="header trans_300">

        <!-- Top Navigation -->

        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left">free shipping on all u.s orders over $50</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">

                                <!-- Currency / Language / My Account -->


                                <li class="language">
                                    <a href="#">
                                        English
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="language_selection">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Việt Nam</a></li>

                                    </ul>
                                </li>
                                <li class="account">
                                	
		  							<a href="#" th:if ="${#request.remoteUser}">[[${#request.remoteUser}]]</a>
									
                                    <a href="#" th:unless = "${#request.remoteUser}">
                                        My Account
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection" style="width:200px;">
                                    <th:block th:if = "${#request.remoteUser}"> 
                                    	<li><a><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a>
                                        </li>
                                        <li class="nav-item" th:if = "${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
												<a class="nav-link" th:href = "@{/admin/home}">Adminstration</a>
										  </li>
                                        <li><a th:href="@{/login/logoff}"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a>
                                        </li>
                                    </th:block>
                                     <th:block th:unless = "${#request.remoteUser}"> 
                                        <li><a th:href="@{/login/form}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a>
                                        </li>
                                        <li><a th:href="@{/login/form}"><i class="fa fa-user-plus"
                                                           aria-hidden="true"></i>Register</a></li>
                                        </th:block>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="#">Gym<span>Master</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a th:href="@{/client/home}">home</a></li>
                                <li><a th:href="@{/client/product}">shop</a></li>
                                <li><a href="#">promotion</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                            <ul class="navbar_user">

                                <li class="checkout black" id="cart">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span id="checkout_items" class="checkout_items">1</span>
                                    </a>

                                </li>
                                <div class="notify shadow-lg p-3 mb-5 bg-white rounded remove">
                                    <ul>


                                        <li class="mt-2" style="" ng-repeat="item in cart.items">
                                            <div class="left">
                                                <img ng-src="{{'/client/images/'+item.image}}" style="width: 50px;" alt="">
                                                <span style="margin-left: 10px;
														font-weight: 700;">{{item.name}}</span>

                                            </div>

                                            <div class="right" style="display: flex;     justify-content: space-between;">
                                                <div> <input type="number" style="width: 30px; border: none;" ng-model="item.qty" name="" id="" value="0"></div>
                                                <span>{{item.qty*item.price|currency:"":0 }}</span></div>

                                        </li>
                                        <div class="line"></div>


                                        <li class="mt-2" style="justify-content: flex-end;">
                                            <!-- <div class="left">
                                                <a href=""></a>
                                            </div> -->
                                            <div class="right  p-1"><a href=""><span>Cart</span></a></div>

                                        </li>

                                    </ul>



                                </div>
                            </ul>
                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <div class="fs_menu_overlay"></div>

    <!-- reposive menu -->

    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="#">
                        usd
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">cad</a></li>
                        <li><a href="#">aud</a></li>
                        <li><a href="#">eur</a></li>
                        <li><a href="#">gbp</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        English
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">French</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                    </ul>
                </li>
                <li class="menu_item"><a href="#">home</a></li>
                <li class="menu_item"><a href="#">shop</a></li>
                <li class="menu_item"><a href="#">promotion</a></li>

                <li class="menu_item"><a href="#">contact</a></li>
            </ul>
        </div>
    </div>


</div>
</body>


</html>