<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detal</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/shoppingcart.css">
    <link rel="stylesheet" href="css/checkout.css">
    <link rel="stylesheet" href="css/productDetail.css">


    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/slidebar.css">
    <link rel="stylesheet" href="css/stickslider.css">
    <!-- BootStrap -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <script src="js/bootstrap/jquery.min.js"></script>

    <link rel="stylesheet" href="css/slick.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap/animate.css">
    <link rel="stylesheet" href="css/bootstrap/style.css">
    <style>

    </style>
</head>

<body>
    <!--Loading-->



    <!--Modal: Login / Register Form Demo-->
    <div class="modal fade" id="modalLRFormDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active" data-toggle="tab" href="#panel17" role="tab"><i class="fa fa-user mr-1"></i> Login</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" href="#panel18" role="tab"><i class="fa fa-user-plus mr-1"></i> Register</a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 17-->
                        <div class="tab-pane fade in show active" id="panel17" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="md-form form-sm">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="form3" class="form-control">
                                    <label for="form3">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-info waves-effect waves-light">Log in <i class="fa fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                            </div>

                        </div>
                        <!--/.Panel 7-->

                        <!--Panel 18-->
                        <div class="tab-pane fade" id="panel18" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form14" class="form-control">
                                    <label for="form14">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="form5" class="form-control">
                                    <label for="form5">Your password</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="form6" class="form-control">
                                    <label for="form6">Repeat password</label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info waves-effect waves-light">Sign up <i class="fa fa-sign-in ml-1"></i></button>
                                </div>

                                <fieldset class="additional-option">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">Subscribe me to the newsletter</label>
                                </fieldset>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form Demo-->

    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top p-0" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">LOGO</a></div>
                </div>
                <li class="dropdown">
                    <a href="#works" class="dropdown-toggle" data-toggle="dropdown">  PRODUCTS <span class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <div class="dropdown-header">Dropdown heading</div>
                        <li><a href="#pictures">Pictures</a></li>
                        <li><a href="#videos">Videeos</a></li>
                        <li><a href="#books">Books</a></li>
                        <li><a href="#art">Art</a></li>
                        <li><a href="#awards">Awards</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="scoll">
                <header class="header default ">
                    <div class="container">
                        <div class="row ">
                            <div class="col-3 d-none d-xl-block d-md-none d-lg-none d-sm-none header-left-bg ">
                                <a href="" class="logo-header">
                                    <h1>LOGO</h1>
                                </a>
                            </div>
                            <div class="header-right-bg col-xl-9 col-md-12 col=sm-12 col-xs-12 ">
                                <div class="top-bar">
                                    <div class="d-block d-md-flex align-items-center text-center">
                                        <div class="mr-3 d-inline-block">
                                            <ion-icon class="mail text-secondary pr-1" name="mail"></ion-icon>minhphuc-frontend@gmail.com</div>
                                        <div class="mr-auto d-inline-block">
                                            <ion-icon class="call pr-1 text-secondary" name="call"></ion-icon>01234567898</div>
                                        <div class="login mr-4 d-inline-block">
                                            <a href="" data-toggle="modal" data-target="#modalLRFormDemo">
                                              Login</a>


                                        </div>
                                        <div class="social d-inline-block">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <ion-icon name="logo-facebook"></ion-icon>
                                                </li>
                                                <li>
                                                    <ion-icon name="logo-twitter"></ion-icon>
                                                </li>
                                                <li>
                                                    <ion-icon name="logo-instagram"></ion-icon>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <nav class="navbar navbar-expand-lg navbar-light ">
                                    <button type="button" class="navbar-toggler hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                                        <span class="hamb-top"></span>
                                        <span class="hamb-middle"></span>
                                        <span class="hamb-bottom"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <ul class="navbar-nav">

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Products
                                          </a>
                                                <div class=" navdrop dropdown-menu dropdown2 dropdown-menu2" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Best seller
                                          </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Hot Combo
                                          </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Fitness news
                                          </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                    <a href="" class="logo-header d-xl-none d-lg-none d-md-block d-sm-block">
                                        <h1>LOGO</h1>
                                    </a>

                                    <div class="button btn-skew btn-md shape-svg">
                                        <span> <ion-icon name="cart" style="font-size: 30px;"></ion-icon>My Cart</span>
                                        <svg>
                                      <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
                                      <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
                                    </svg>


                                    </div>

                                    <!-- <a class="cart btn btn-primary btn-skew btn-md shape-svg" href="#">
                                    <span>   <ion-icon name="cart" style="font-size: 30px;"></ion-icon>My Cart</span></a> -->

                                </nav>



                            </div>
                        </div>
                    </div>
                </header>
            </nav>



        </div>






        <section class="space-ptb shop-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="slick col-md-5 mb-4 mb-md-0">

                                <div class="slider slider-for">
                                    <div>
                                        <h3><img src="images/01.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img src="images/02.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img src="images/03.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img src="images/04.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img src="images/05.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img src="images/06.jpg" alt=""></h3>
                                    </div>
                                </div>
                                <div class="slider slider-nav">
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/01.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/02.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/03.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/04.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/05.jpg" alt=""></h3>
                                    </div>
                                    <div>
                                        <h3><img width="111px" style="margin: 5px;" src="images/06.jpg" alt=""></h3>
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-7" style="margin-top: 75px;">
                                <div class="product-detail">
                                    <h4>Jukebox Single Gym Towel</h4>
                                    <div class="product-price-rating">
                                        <div class="product-rating d-flex">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <i class="far fa-star"></i>
                                            <a href="#reviews" class="text-dark ms-2" rel="nofollow">(<span class="count">4</span> customer reviews)</a>
                                        </div>
                                        <div class="product-price">
                                            <h4><del>$9.81</del><span>$7.81</span></h4>
                                        </div>
                                    </div>
                                    <p>Introspection is the trick. Understand what you want, why you want it and what it will do for you. This is a critical factor, and as such, is probably the most difficult step. For this reason, most people never complete
                                        this aspect – then wonder why life is so difficult!</p>
                                    <p class="mb-4 mb-sm-5">The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to
                                        visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If
                                        the plan doesn’t support the vision then change it!</p>
                                    <div class="input-group">
                                        <input type="number" name="quant[1]" class="form-control input-number mt-2 mt-sm-0" value="1" min="1" max="10">
                                    </div>
                                    <a class="btt btt-primary btn-md mt-2 mt-sm-0" href="#"> <span> <i class="fas fa-shopping-cart"></i> Add To Cart </span> </a>
                                    <div class="product-summary">
                                        <a class="" href="#"><i class="far fa-heart"></i>Add to Wishlist</a>
                                        <a class="" href="#"><i class="fa fa-compress-alt" aria-hidden="true"></i>Compare</a>
                                    </div>
                                    <hr class="hr-dark">
                                    <div class="product-detail-meta">
                                        <span>SKU: 9624 </span>
                                        <span>Category: <a href="#"> GYM, Towel</a>  </span>
                                        <span>Tags: <a href="#">Fitness,</a> <a href="#">Towel,</a> <a href="#">GYM</a>   </span>
                                    </div>
                                    <div class="product-detail-social">
                                        <span>Share :</span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs nav-tabs-02" id="myTab2" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true"> <span> Description</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-reviews" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false"><span>Reviews (4)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-0" id="custom-tab" data-bs-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false"><span>Custom Tab</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-5" id="myTabContent2">
                                    <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>So why do we do it?</h5>
                                                <p class="mb-4"> The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible.
                                                    Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision
                                                    and Goals. If the plan doesn’t support the vision then change it!</p>
                                                <h5>Does it need to be done at all?</h5>
                                                <p class="mb-4">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times. This requires a little self-discipline, but is a crucial component to
                                                    achievement of any kind. Before starting any new activity, ask yourself if that activity will move you closer to your goals. If the answer is no, you may want to reconsider doing it at that time.</p>
                                                <h5>Can it be done by someone else?</h5>
                                                <p>The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really
                                                    has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.</p>
                                                <p class="mb-4">There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number
                                                    of steps the experts talk about, they all originate from the same roots.</p>
                                                <h5>Can the particular activity be done later?</h5>
                                                <p class="mb-4">What is the exact sequence of events that will take you to where you want to be? Have a think consciously of what you need to do. Every outcome begins with the first step. When you decide you want to have
                                                    a romantic meal for two, there are many steps that you need to perform in order for that to happen. (Check the fridge, do you have what you want to serve up? No? Find keys, open garage door, drive car
                                                    to the supermarket etc. etc.) You need to determine the exact sequence of events and write it down. Begin with the outcome in mind. Write without stopping. 10 years from now, I plan to be living in a…
                                                    at…. With…. Get really detailed about it. Why? Because you are hooking up the neural connections in your brain. You must improve upon, clarify and make clear just exactly who and what you are going to
                                                    be doing, experiencing, living and having in 10 years. This is the first step of the process! Key: Notice how you felt excited and optimistic when you did this? The reason is simple. It’s the life you
                                                    are designing instead of the one that was given you and that you have lived with less intention and purpose to date.</p>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-md-4">
                                                <div class="d-flex mb-5 mb-md-0">
                                                    <div class="feature-info-icon">
                                                        <i class="fas fa-truck-pickup font-xxxl"></i>
                                                    </div>
                                                    <div class="ms-4">
                                                        <h5 class="feature-info-title">Free shipping</h5>
                                                        <p>Free Shipping on orders $199.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex mb-5 mb-md-0">
                                                    <div class="feature-info-icon">
                                                        <i class="far fa-comments font-xxxl"></i>
                                                    </div>
                                                    <div class="ms-4">
                                                        <h5 class="feature-info-title">24/7 Support</h5>
                                                        <p>Online and phone support 24 / 7</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex mb-0">
                                                    <div class="feature-info-icon">
                                                        <i class="fas fa-sync-alt font-xxxl"></i>
                                                    </div>
                                                    <div class="ms-4">
                                                        <h5 class="feature-info-title">30 Days return</h5>
                                                        <p>30 days money-back guarantee.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="tab-reviews">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="mb-4">4 Reviews for women’s fabric mix midi wrap jumpsuit</h5>
                                                <div class="commentlist">
                                                    <div class="comment-author">
                                                        <img class="avatar avatar-lg" src="images/avatar/01.jpg" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="reviews">
                                                            <p class="meta">
                                                                <strong>Sara Lisbon </strong>(verified owner) – November 8, 2020
                                                            </p>
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution
                                                            of those plans and belief that you can achieve your desires.</p>
                                                    </div>
                                                </div>
                                                <div class="commentlist">
                                                    <div class="comment-author">
                                                        <img class="avatar avatar-lg" src="images/avatar/02.jpg" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="reviews">
                                                            <p class="meta">
                                                                <strong>Frank Smith </strong>(verified owner) – November 8, 2020
                                                            </p>
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of
                                                            the number of steps the experts talk about, they all originate from the same roots.</p>
                                                    </div>
                                                </div>
                                                <div class="commentlist">
                                                    <div class="comment-author">
                                                        <img class="avatar avatar-lg" src="images/avatar/03.jpg" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="reviews">
                                                            <p class="meta">
                                                                <strong>Joanna williams </strong>(verified owner) – December 8, 2020
                                                            </p>
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why? So they then have a built-in excuse
                                                            when things don’t go their way! Pretty sad situation, to say the least.</p>
                                                    </div>
                                                </div>
                                                <div class="commentlist">
                                                    <div class="comment-author">
                                                        <img class="avatar avatar-lg" src="images/avatar/04.jpg" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="reviews">
                                                            <p class="meta">
                                                                <strong>Felica Queen </strong>(verified owner) – December 8, 2020
                                                            </p>
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a
                                                            fundamental step, which most people overlook.</p>
                                                    </div>
                                                </div>
                                                <div class="mt-4 ">
                                                    <h5>Add a review</h5>
                                                    <p>Your email address will not be published. Required fields are marked *</p>
                                                </div>
                                                <form class="row mt-4 align-items-center">
                                                    <div class="mb-3 col-sm-12">
                                                        <label class="form-label">Name*</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-3 col-sm-12">
                                                        <label class="form-label">Email*</label>
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="mb-3 col-sm-12">
                                                        <label class="form-label">Your review *</label>
                                                        <div class="product-rating">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 col-sm-12">
                                                        <label class="form-label">Your review *</label>
                                                        <div class="mb-3">
                                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-check col-sm-12 p-0">
                                                        <div class="custom-control form-check custom-checkbox p-0">
                                                            <input type="checkbox" class="custom-control-input me-1" id="customCheck15">
                                                            <label class="custom-control-label" for="customCheck15">Save my name, email, and website in this browser for the next time I comment.</label>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-primary btn-md mt-4" href="#"> Submit </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    <strong>The best way is to develop and follow a plan.</strong> Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan
                                                    as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes
                                                    you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
                                                <h5>Why do we use it?</h5>
                                                <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice. In the majority of cases, the cause is
                                                    a well-meaning but unskilled or un-thinking parent, who says the wrong thing at the wrong time, and the message sticks – as simple as that!</p>
                                                <p class="mt-2">Commitment is something that comes from understanding that everything has its price and then having the willingness to pay that price. This is important because nobody wants to put significant effort into
                                                    something, only to find out after the fact that the price was too high.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>








        <!-- relase product -->

        <section class="slick-slider bg-holder bg-overlay-black-50 ">
            <!-- Create your own class for the containing div -->
            <div class="container">
                <div class="slick-sliderbox">
                    <div class="slick-tittle">
                        <span class="sub-title text-secondary">
                        <span class="title-shape me-2">seemore?</span> </span>
                        <h2>related products</h2>
                        <div class="about-box-border-yellow">

                        </div>
                        <div class="about-box-border-blue">

                        </div>
                    </div>

                    <div class="slick-carousel" style="margin-top: 50px;">
                        <!-- Inside the containing div, add one div for each slide -->
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>
                        <div class="product">
                            <!-- You can put an image or text inside each slide div -->
                            <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                            <div class="tittle">tittle</div>
                            <div class="price">50k</div>
                        </div>


                    </div>
                </div>
            </div>
        </section>




















        <footer class="footer bg-holder bg-overlay-black-50  mt-5 bg-dark">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <h4>Find us</h4>
                                    <span>binh dinh</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <span>1234566</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <span>minhphuc-frontend@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <h2>LOGO</h2>
                                    </a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Follow us</span>
                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Best Sellers</a></li>
                                    <li><a href="#">Hot Combo</a></li>
                                    <li><a href="#">Fitness New</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address">
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                            <div class="copyright-text">
                                <p>nhom 2 du an tot nghiep </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </footer>


















    </div>
























    <script src="js/slick.js"></script>

</body>
<script src="js/sliderbar.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="js/bootstrap/popper.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/bootstrap/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="js/stickslider.js"></script>


</html>