

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Trang Chủ</li>
              <li class="breadcrumb-item">Đơn Hàng</li>
              <li class="breadcrumb-item active" aria-current="page">Danh Sách Đơn Hàng</li>
            </ol>
          </div>

          <!-- Row -->
          <div class="row">
            <!-- Datatables -->
            <!-- DataTable with Hover -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Đơn Hàng</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Đơn Hàng ID</th>
                        <th>Tài Khoản</th>
                        <th>Địa Chỉ Giao Hàng</th>
                        <th>Trạng Thái Đơn Hàng</th>
                        <th>Chỉnh Sủa Hoặc Xóa</th>
                      </tr>
                    </thead>
                   
                    <tbody>
                      <tr ng-repeat = "item in pager.items ">
                        <td><a href="#!order-detail/{{item.id}}">{{item.id}}</a></td>
                        <td>{{item.account.username}}</td>
                        <td>{{item.address}}</td>
                        <td>
                          <span ng-if = "item.orderStatus.id==1" class="badge badge-info">{{item.orderStatus.description}}</span>
                          <span ng-if = "item.orderStatus.id==2" class="badge badge-primary">{{item.orderStatus.description}}</span>
                          <span ng-if = "item.orderStatus.id==3" class="badge badge-warning">{{item.orderStatus.description}}</span>
                          <span ng-if = "item.orderStatus.id==4" class="badge badge-success">{{item.orderStatus.description}}</span>
                          <span ng-if = "item.orderStatus.id==5" class="badge badge-danger">{{item.orderStatus.description}}</span>
                        </td>
                        <td>
                            <button type="button" ng-click = "edit(item)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="#modalCenter">Chỉnh Sửa</button>
                        </td>
                      </tr>
                     
                     
                    </tbody>
                  </table>
                </div>
                <div class="card-footer text-muted">
                  <button type="button" class="btn btn-primary"  ng-click="pager.first()">
                    <i class="fas fa-fast-backward"></i>
                  </button>
                  <button type="button" class="btn btn-secondary"  ng-disabled="pager.page==0" ng-click="pager.prev()">
                    <i class="fas fa-backward"></i>
                  </button>
                  <button class="btn btn-danger">{{pager.page + 1}} of {{pager.count()}}</button>
                  <button type="button" class="btn btn-success"  ng-disabled="pager.page >= pager.count() -1"  ng-click="pager.next()">
                    <i class="fas fa-forward"></i>
                  </button>
                  <button type="button" class="btn btn-danger"  ng-click="pager.last()">
                    <i class="fas fa-fast-forward"></i>  
                  </button>
              </div>
              </div>
            </div>
          </div>
          <!--Order Edit-->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Duyệt Đơn Hàng</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Đơn Hàng ID</label>
                          <input type="text" readonly ng-model ="form.id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Order ID">
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleInputEmail1">Trạng Thái Đơn Hàng</label>
                          <select class="form-control mb-3" ng-model = "form.orderStatus.id"  >
                              <option ng-repeat = "s in status" ng-value = "s.id">{{s.description}}</option>
                          </select>
                      </div>
                        
                        <button  ng-click = "update()"class="btn btn-success">Sửa</button>
                        <button ng-if = "form.orderStatus.id==5" class="btn btn-danger" ng-click = "delete(form)">Xóa</button>
                      </form>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>
          

      

