
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
                    
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Trang Chủ</li>
                        <li class="breadcrumb-item">Sản Phẩm</li>
                        <li class="breadcrumb-item active" aria-current="page">Danh Sách Sản Phẩm</li>
                    </ol>
                </div>

                <!-- Row -->
                <div class="row">
                    <!-- Datatables -->
                    <!-- DataTable with Hover -->
                    
                    <div class="col-lg-12">
                        <div class="card mb-2">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Sản Phẩm</h6>
                                 <div ><label>Tìm Kiếm:<input ng-model="query[queryBy]" type="search" class="form-control form-control-sm" placeholder="Search" ></label></div>
                            </div>
                            
                       </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên</th>
                                        <th>Giá</th>
                                        <th>Loại</th>
                                        <th>Ngày Tạo</th>
                                        <th>Kích Hoạt</th>
                                        <th>Trạng Thái Sản Phẩm</th>
                                        <th>Chỉnh Sửa Hoặc Xóa</th>
                                    </tr>
                                    </thead>

                                    <tbody >
                                    <tr ng-repeat = "item in pager.items | filter:query | orderBy:'id'" >
                                        <td>{{item.id}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.price}}</td>
                                        <td>{{item.categoryId.name}}</td>
                                        <td>{{item.createdate|date :'dd-MM-yyyy'}}</td>
                                        <td>{{item.special?'Kích Hoạt':'Chưa Kích Hoạt'}}</td>
                                        <td>{{item.productStatus.description}}</td>
                                        <td>
                                            <button type="button" ng-click = "edit(item)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="#modalCenter">Sửa</button>
                                        	<button  ng-click = "delete(item.id)" class="btn btn-danger">Xóa</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                            </div>
	                        <div class="card-footer text-muted">
						            <button type="button" class="btn btn-primary"  ng-click="pager.first()">
						              <i class="fas fa-fast-backward"></i>
						            </button>
						            <button type="button" class="btn btn-secondary"  ng-disabled="pager.page==0" ng-click="pager.prev()">
						              <i class="fas fa-backward"></i>
						            </button>
						            <button class="btn btn-danger">{{pager.page + 1}} of {{pager.count()}}</button>
						            <button type="button" class="btn btn-success"  ng-disabled="pager.page >= pager.count() -1"  ng-click="pager.next()">
						              <i class="fas fa-forward"></i>
						            </button>
						            <button type="button" class="btn btn-danger"  ng-click="pager.last()">
						              <i class="fas fa-fast-forward"></i>  
						            </button>
	        				</div>
                        </div>
                    </div>
                
                <!--Product Edit-->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Chỉnh Sửa Sản Phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <form name="frmGopy" class="php-email-form">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên</label>
                                            <input name="name" ng-model ="form.name" type="text" required  class="form-control"  >
                                           
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Giá</label>
                                            <input ng-model ="form.price" type="text" required class="form-control"  >
                                        </div>
                                        <div class="form-group">
				                            <label for="exampleInputEmail1">Ngày Tạo</label>
				                            <input  ng-model = "form.createdate"  type="date" required  class="form-control"  >
				                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Loại </label>
                                            <select class="form-control mb-3"  ng-model = "form.categoryId.id">
                                                <option ng-repeat = "c in cates" ng-value = "c.id">{{c.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Trạng Thái</label>
                                            <select class="form-control mb-3" ng-model = "form.productStatus.id"  >
                                                <option ng-repeat = "s in status" ng-value = "s.id">{{s.description}}</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Kích Hoạt</label>
                                                <div class="form-check form-check-inline">
					                                <input class="form-check-input" type="radio" name= "available"  ng-value="true"   ng-model = "form.special" > Yes
					                                <input class="form-check-input" type="radio" name= "available"  ng-value="false"  ng-model = "form.special" > No
                  								</div>
                                        </div>
                                        <div class="form-group">
					                      <label for="exampleFormControlTextarea1">Miêu Tả</label>
					                      <textarea required ng-model = "form.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					                    </div>
					                    <div class="form-group">
					                            <img ng-src="{{'/assets/images/'+ form.image}}" alt="" style="max-height: 50%;max-width: 50%">
					                    </div>
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input onchange = "angular.element(this).scope().imageChanged(this.files)"  type="file" class="custom-file-input " id="customFile">
                                                <label class="custom-file-label" for="customFile">Ảnh</label>
                                            </div>
                                            
                                        </div>
                                        <button ng-click = "create()"   class="btn btn-info ">Tạo Mới </button>
                                        <button  ng-click = "update()"  class="btn btn-success">Sửa</button>
                                        <button ng-click = "reset()"   class="btn btn-warning ">Reset</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
        