<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/dashboardLayout.html}">



<body>


<div layout:fragment="content">

  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/main_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/responsive.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/cart.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/checkout.css}">




  <!-- contnet -->


  <div class="mainWrapper">


    <div class="statusBar">
      <span class="pBar"></span>
      <div class="node n0 done nConfirm0">
        <div class="main done m0 done nConfirm0"></div>
        <span class="text t0 done nConfirm0">Information</span>
      </div>
      <div class="node n1 nConfirm1">
        <div class="main m1 nConfirm1"></div>
        <span class="text t1 nConfirm1">Address</span>
      </div>
      <div class="node n2 nConfirm2">
        <div class="main m2 nConfirm2"></div>
        <span class="text t2 nConfirm2">Review</span>
      </div>
      <div class="node n3 nConfirm3">
        <div class="main m3 nConfirm3"></div>
        <span class="text t3 nConfirm3">Payment</span>
      </div>
      <div class="node n4 nConfirm4">
        <div class="main m4 nConfirm4"></div>
        <span class="text t4 nConfirm4">Complete</span>
      </div>
    </div>
    <div class="content shadow p-3 mb-5 bg-white rounded">
    
      <div class="information hidden ml-5">
        <div class="row mt-5">
        
          <div class="col-6 m-2">
            <div class="first-name"><label >First Name</label> <br>
            <span type="text">[[${#request.remoteUser}]]</span>
            </div>
          </div>
          
           <div class="col-6 m-2">
           
            <div class="last-name"><label >Last Name</label> <br>
            <span type="text">{{order.createDate|date:'dd-MM-yyyy'}}</span>
            </div>
          </div>
        
        <div class="row mt-5">
          <div class="col-12 m-2">
           
            <div class="last-name"><label>Shipping address</label>
                    <textarea type="text"ng-model="order.address" >
                    </textarea>
          </div>
          </div>
         
        </div>
        
      
        </div>



      </div>
      <div class="address ml-5">

        <div class="row mt-5">
          <div class="province col-6 p-2"><select name="ls_province" autofocus></select></div>
        </div>
        <div class="row mt-5">
          <div class="col-6 p-2"> <select name="ls_district"></select></div>
          <div class="col-6 p-2"><select name="ls_ward"></select></select></div>
        </div>

        <div class="row mt-5">
          <label class="ml-2"> Note</label>
          <div  class="col-12"><textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='Do you want to take notes?' ></textarea></div>
        </div>
      </div>
      <div class="review ml-5"><div class="cart">
        <!-- <ul class="tableHead">
           <li class="prodHeader">Product</li>
           <li>Quantity</li>
           <li>Total</li>
            <li>Remove</li>
         </ul> -->
        <ul class="cartWrap">
          <div class="row mt-5">
         <div class="heading cf">
      <h1>My Cart</h1>
    </div>
        <div class="cart">
      <!-- <ul class="tableHead">
         <li class="prodHeader">Product</li>
         <li>Quantity</li>
         <li>Total</li>
          <li>Remove</li>
       </ul> -->
      <ul class="cartWrap">
		
        <li class="items even" ng-repeat="item in cart.items">

          <div class="infoWrap">
            <div class="cartSection">

              <img  ng-src="{{'/client/images/'+item.image}}"   alt="" class="itemImg" />
              <h3 >{{item.name}}</h3>
              <p class="itemNumber">{{item.price|currency:"":0 }}</p>


              <p> <input type="text" ng-model="item.qty"  class="qty" placeholder="3"/></p>

              <p class="stockStatus"> In Stock</p>
            </div>


            <div class="prodTotal cartSection">
              <p> {{item.qty*item.price|currency:"":0 }}</p>
            </div>
           
          </div>
        </li>
		


        <!--<li class="items even">Item 2</li>-->

      </ul>
    </div>
       
        </div>




          <!--<li class="items even">Item 2</li>-->

        </ul>
      </div></div>
      <div class="payment ml-5"><div class="main_card">
        <div class="select-cards">




          <div class="select" data-selected="true">
            <div class="check-box">
              <div class="check-dot"></div>
            </div>
            <div class="titles">
              <h4>Payment on delivery</h4>
              <h5>50000000000</h5>

            </div>

          </div>

          <div class="select">
            <div class="check-box">
              <div class="check-dot"></div>
            </div>
            <div class="titles">

              <h4>Payment with cart</h4>
              <h5>50000000000</h5>

            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="complete ml-5">complete</div>
      <div class="finish ml-5">6</div>
    </div>



    <div class="buttonHolder">
      <button class="button b-back disabled" id="back">Back</button>
      <button class="button b-next" id="next">Next</button>
    </div>





  </div>



</div>



</body>

</html>