<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/dashboardLayout.html}">



<body>


<div layout:fragment="content">

  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/main_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/responsive.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/single_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/single_responsive.css}">


  <div class="container single_product_container" >
    <div class="row">
      <div class="col">
        <div class="breadcrumbs d-flex flex-row align-items-center">
          <ul>
            <li><a th:href="@{/client/home}">Trang chủ</a></li>
            <li><a th:href="@{/client/order/list}"><i class="fa fa-angle-right" aria-hidden="true"></i>Đơn hàng của bạn</a></li>
            <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đơn hàng đã hủy</a></li>
          </ul>
        </div>

      </div>
    </div>
      <div class="row">
        <div class="col-6">
          <h3>Đơn Hàng Đã Hủy</h3>
        </div>
        <div class="col-6">
          <a class="float-right" style="color: black; font-weight: bold;" th:href="@{|/client/order/list|}">&#8594; Đơn Hàng</a>
        </div>
      </div>

              <div class = "row">
                  
                      <div class="container mt-2">
                          <table class="table table-bordered table-hover text-center">
                              <thead>
                              <tr style="background: #fe4c50; color: #ffffff;">
                                  <th style="font-weight: 200;" scope="col">STT</th>
                                  <th style="font-weight: 200;" scope="col">Người nhận</th>
                                  <th style="font-weight: 200;" scope="col">Ngày Đặt</th>
                                  <th style="font-weight: 200;" scope="col">Địa Chỉ Giao Hàng</th>
                                  <th style="font-weight: 200;" scope="col">Số điện thoại</th>
                                  <th style="font-weight: 200;" scope="col">Tình Trạng Đơn Hàng</th>
                                  <th style="font-weight: 200;" scope="col">Notes</th>
                                  <th style="font-weight: 200;" scope="col"></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each = "order,state:${orders}">
                                  <th scope="row">[[${state.index+1}]]</th>
                                  <td>[[${order.name}]]</td>
                                  <td>[[${order.createDate}]]</td>
                                  <td>[[${order.address}]]</td>
                                  <td>[[${order.phone}]]</td>
                                  <td>[[${order.orderStatus.description}]]</td>
                                  <td>[[${order.notes}]]</td>
                                  <td><a style="color:  #fe4c50;" th:href="@{|/client/order/orderDetail/${order.id}|}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                 
              </div>
      



   
  </div>







</div>



</body>

</html>