<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/dashboardLayout.html}" xmlns="http://www.w3.org/1999/html">



<body>


<div layout:fragment="content">

  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/main_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/responsive.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/checkout.css}">




  <!-- contnet -->


  <div class="page-wrapper" style="margin-top: 250px; margin-bottom: 200px;">
    <div class="checkout shopping">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="block billing-details">
              <h4 class="widget-title">Thông tin khách hàng</h4>
              <div class="checkout-form">
                <div class="form-group " style="opacity: 0%">
                  <label for="username">Họ Và Tên</label>
                  <span type="text" id ="username">[[${#request.remoteUser}]]</span>
                </div>
                <div class="form-group">
                  <label for="name">Họ và tên</label>
                  <input type="text" class="form-control" id="name" placeholder="" >
                </div>
                <div class="form-group">
                  <label for="phone">Số Điện Thoại</label>
                  <input type="text" class="form-control" id="phone" placeholder="" >
                </div>
                <div class="checkout-country-code clearfix">
                  <div class="form-group">
                    <select name="ls_province"  class="form-control ls_province" ></select>
                  </div>
                  <div class="form-group">
                    <select name="ls_district" id="user_city" class="form-control ls_district" ></select>
                  </div>
                </div>
                <div class="form-group">
                  <select name="ls_ward" id="user_country"  class="form-control ls_ward" ></select>
                </div>
                <div class="form-group">
                  <label for="user_address">Thôn/Số Nhà</label>
                  <input type="text" class="form-control" id="user_address" placeholder="">
                </div>
                <div class="form-group">
                  <label for="user_address">Ghi chú</label>
                  <textarea class="form-control mb-3" id="note" rows="3" ></textarea>
                </div>
              </div>
            </div>
            <div class="block">
              <h4 class="widget-title">Thông tin thanh toán</h4>

              <div class="checkout-product-details">

                <div class="wrap" >
                  <div>
                    <label for="first">Thanh toán khi nhận hàng</label>
                    <input id="first" type="radio" checked="checked"  name="content"
                           value='1'>
                    <br />
                    <label for="other">Thanh toán qua thẻ</label>
                    <input id="other" type="radio"  name="content"
                           value='2'>
                  </div>

                  <div class="wrapper">
                    <p ng-show="content == 'first'">Bạn có thể thanh toán khi nhận hàng</p>
                    <h2 ng-show="content == 'other'"> <div class="payment">
                      <div class="card-details">
                        <div  class="checkout-form">
                          <div class="form-group">
                            <label for="card-number">Card Number <span class="required">*</span></label>
                            <input  id="card-number" class="form-control"   type="tel" placeholder="•••• •••• •••• ••••">
                          </div>
                          <div class="form-group half-width padding-right">
                            <label for="card-expiry">Expiry (MM/YY) <span class="required">*</span></label>
                            <input id="card-expiry" class="form-control" type="tel" placeholder="MM / YY">
                          </div>
                          <div class="form-group half-width padding-left">
                            <label for="card-cvc">Card Code <span class="required">*</span></label>
                            <input id="card-cvc" class="form-control"  type="tel" maxlength="4" placeholder="CVC" >
                          </div>

                        </div>
                      </div>
                    </div></h2>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-checkout-details">
              <div class="block">
                <h4 class="widget-title">Thông tin đơn hàng</h4>
                <div class="box-product-card">


                <div class="media product-card" style="align-items: center;" ng-repeat="item in cart.items">
                  <a class="pull-left">
                    <div class="remove-checkout" ng-click="cart.remove(item.id)">xoá</div>
                    <img class="media-object" ng-src="{{'/client/images/'+item.image}}" alt="Image" />
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a >{{item.name}}</a></h4>
                     <p class="price">{{item.qty}} x {{item.price|currency:"":0 }}</p></div>



                </div>

                </div>

                <ul class="summary-prices">

                  <li>
                    <span>Shipping:</span>
                    <span>Free</span>
                  </li>
                </ul>
                <div class="summary-total">
                  <span>Total</span>
                  <span>{{tinhTongtien()|currency:"":0 }}</span>
                </div>
                <div class="verified-icon">
                  <button class="place-order place-order--default" ng-click="order.purchase()">
                    <div class="default text">Đặt Hàng</div>
                    <div class="forklift">
                      <div class="upper"></div>
                      <div class="lower"></div>
                    </div>
                    <div class="box animation"></div>
                    <div class="done text">Đã xong</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



</body>

</html>