<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/dashboardLayout.html}">



<body>


<div layout:fragment="content">

  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/main_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/responsive.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/single_styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/client/styles/single_responsive.css}">


  <div class="container single_product_container" >
    <div class="row">
      <div class="col">
        <div class="breadcrumbs d-flex flex-row align-items-center">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Order</a></li>
            <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Order Detail</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class = "row"> 
    	<section>
       <div class="container mt-5">
        <table class="table table-bordered table-hover text-center">
            <thead>
               <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "detail:*{orderDetails}" th:object ="${detail}">
	                <th scope="row">[[*{product.id}]]</th>
	                <td>[[*{product.name}]]</td>
	                <td>[[*{#numbers.formatDecimal(price,0,'COMMA',2,'POINT')}]]</td>
	                <td>[[*{quantity}]]</td>
	                <td>$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</td>

              </tr>            
             </tbody>
          </table>
       </div>
   </section>
    </div>
   
  </div>







</div>



</body>

</html>