<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/dashboardLayout.html}">

<head>

</head>

<body>


<section class="row" layout:fragment="content">

    <section class="space-ptb shop-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="slick col-md-5 mb-4 mb-md-0">

                            <div class="slider slider-for">
                                <div>
                                    <h3><img src="images/01.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img src="images/02.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img src="images/03.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img src="images/04.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img src="images/05.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img src="images/06.jpg" alt=""></h3>
                                </div>
                            </div>
                            <div class="slider slider-nav">
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/01.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/02.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/03.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/04.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/05.jpg" alt=""></h3>
                                </div>
                                <div>
                                    <h3><img width="111px" style="margin: 5px;" src="images/06.jpg" alt=""></h3>
                                </div>

                            </div>


                        </div>
                        <div class="col-md-7" style="margin-top: 75px;">
                            <div class="product-detail">
                                <h4>Jukebox Single Gym Towel</h4>
                                <div class="product-price-rating">
                                    <div class="product-rating d-flex">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                        <a href="#reviews" class="text-dark ms-2" rel="nofollow">(<span class="count">4</span> customer reviews)</a>
                                    </div>
                                    <div class="product-price">
                                        <h4><del>$9.81</del><span>$7.81</span></h4>
                                    </div>
                                </div>
                                <p>Introspection is the trick. Understand what you want, why you want it and what it will do for you. This is a critical factor, and as such, is probably the most difficult step. For this reason, most people never complete
                                    this aspect – then wonder why life is so difficult!</p>
                                <p class="mb-4 mb-sm-5">The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to
                                    visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If
                                    the plan doesn’t support the vision then change it!</p>
                                <div class="input-group">
                                    <input type="number" name="quant[1]" class="form-control input-number mt-2 mt-sm-0" value="1" min="1" max="10">
                                </div>
                                <a class="btt btt-primary btn-md mt-2 mt-sm-0" href="#"> <span> <i class="fas fa-shopping-cart"></i> Add To Cart </span> </a>
                                <div class="product-summary">
                                    <a class="" href="#"><i class="far fa-heart"></i>Add to Wishlist</a>
                                    <a class="" href="#"><i class="fa fa-compress-alt" aria-hidden="true"></i>Compare</a>
                                </div>
                                <hr class="hr-dark">
                                <div class="product-detail-meta">
                                    <span>SKU: 9624 </span>
                                    <span>Category: <a href="#"> GYM, Towel</a>  </span>
                                    <span>Tags: <a href="#">Fitness,</a> <a href="#">Towel,</a> <a href="#">GYM</a>   </span>
                                </div>
                                <div class="product-detail-social">
                                    <span>Share :</span>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs nav-tabs-02" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true"> <span> Description</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-reviews" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false"><span>Reviews (4)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0" id="custom-tab" data-bs-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false"><span>Custom Tab</span></a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5" id="myTabContent2">
                                <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5>So why do we do it?</h5>
                                            <p class="mb-4"> The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible.
                                                Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision
                                                and Goals. If the plan doesn’t support the vision then change it!</p>
                                            <h5>Does it need to be done at all?</h5>
                                            <p class="mb-4">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times. This requires a little self-discipline, but is a crucial component to
                                                achievement of any kind. Before starting any new activity, ask yourself if that activity will move you closer to your goals. If the answer is no, you may want to reconsider doing it at that time.</p>
                                            <h5>Can it be done by someone else?</h5>
                                            <p>The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really
                                                has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.</p>
                                            <p class="mb-4">There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number
                                                of steps the experts talk about, they all originate from the same roots.</p>
                                            <h5>Can the particular activity be done later?</h5>
                                            <p class="mb-4">What is the exact sequence of events that will take you to where you want to be? Have a think consciously of what you need to do. Every outcome begins with the first step. When you decide you want to have
                                                a romantic meal for two, there are many steps that you need to perform in order for that to happen. (Check the fridge, do you have what you want to serve up? No? Find keys, open garage door, drive car
                                                to the supermarket etc. etc.) You need to determine the exact sequence of events and write it down. Begin with the outcome in mind. Write without stopping. 10 years from now, I plan to be living in a…
                                                at…. With…. Get really detailed about it. Why? Because you are hooking up the neural connections in your brain. You must improve upon, clarify and make clear just exactly who and what you are going to
                                                be doing, experiencing, living and having in 10 years. This is the first step of the process! Key: Notice how you felt excited and optimistic when you did this? The reason is simple. It’s the life you
                                                are designing instead of the one that was given you and that you have lived with less intention and purpose to date.</p>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <div class="d-flex mb-5 mb-md-0">
                                                <div class="feature-info-icon">
                                                    <i class="fas fa-truck-pickup font-xxxl"></i>
                                                </div>
                                                <div class="ms-4">
                                                    <h5 class="feature-info-title">Free shipping</h5>
                                                    <p>Free Shipping on orders $199.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex mb-5 mb-md-0">
                                                <div class="feature-info-icon">
                                                    <i class="far fa-comments font-xxxl"></i>
                                                </div>
                                                <div class="ms-4">
                                                    <h5 class="feature-info-title">24/7 Support</h5>
                                                    <p>Online and phone support 24 / 7</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex mb-0">
                                                <div class="feature-info-icon">
                                                    <i class="fas fa-sync-alt font-xxxl"></i>
                                                </div>
                                                <div class="ms-4">
                                                    <h5 class="feature-info-title">30 Days return</h5>
                                                    <p>30 days money-back guarantee.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="tab-reviews">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="mb-4">4 Reviews for women’s fabric mix midi wrap jumpsuit</h5>
                                            <div class="commentlist">
                                                <div class="comment-author">
                                                    <img class="avatar avatar-lg" src="images/avatar/01.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="reviews">
                                                        <p class="meta">
                                                            <strong>Sara Lisbon </strong>(verified owner) – November 8, 2020
                                                        </p>
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p>For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution
                                                        of those plans and belief that you can achieve your desires.</p>
                                                </div>
                                            </div>
                                            <div class="commentlist">
                                                <div class="comment-author">
                                                    <img class="avatar avatar-lg" src="images/avatar/02.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="reviews">
                                                        <p class="meta">
                                                            <strong>Frank Smith </strong>(verified owner) – November 8, 2020
                                                        </p>
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p>There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of
                                                        the number of steps the experts talk about, they all originate from the same roots.</p>
                                                </div>
                                            </div>
                                            <div class="commentlist">
                                                <div class="comment-author">
                                                    <img class="avatar avatar-lg" src="images/avatar/03.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="reviews">
                                                        <p class="meta">
                                                            <strong>Joanna williams </strong>(verified owner) – December 8, 2020
                                                        </p>
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p>Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why? So they then have a built-in excuse
                                                        when things don’t go their way! Pretty sad situation, to say the least.</p>
                                                </div>
                                            </div>
                                            <div class="commentlist">
                                                <div class="comment-author">
                                                    <img class="avatar avatar-lg" src="images/avatar/04.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="reviews">
                                                        <p class="meta">
                                                            <strong>Felica Queen </strong>(verified owner) – December 8, 2020
                                                        </p>
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p>Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a
                                                        fundamental step, which most people overlook.</p>
                                                </div>
                                            </div>
                                            <div class="mt-4 ">
                                                <h5>Add a review</h5>
                                                <p>Your email address will not be published. Required fields are marked *</p>
                                            </div>
                                            <form class="row mt-4 align-items-center">
                                                <div class="mb-3 col-sm-12">
                                                    <label class="form-label">Name*</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-3 col-sm-12">
                                                    <label class="form-label">Email*</label>
                                                    <input type="email" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-3 col-sm-12">
                                                    <label class="form-label">Your review *</label>
                                                    <div class="product-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="mb-3 col-sm-12">
                                                    <label class="form-label">Your review *</label>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" rows="5" id="comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-check col-sm-12 p-0">
                                                    <div class="custom-control form-check custom-checkbox p-0">
                                                        <input type="checkbox" class="custom-control-input me-1" id="customCheck15">
                                                        <label class="custom-control-label" for="customCheck15">Save my name, email, and website in this browser for the next time I comment.</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a class="btn btn-primary btn-md mt-4" href="#"> Submit </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
                                    <div class="row">
                                        <div class="col-12">
                                            <p>
                                                <strong>The best way is to develop and follow a plan.</strong> Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan
                                                as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes
                                                you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
                                            <h5>Why do we use it?</h5>
                                            <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice. In the majority of cases, the cause is
                                                a well-meaning but unskilled or un-thinking parent, who says the wrong thing at the wrong time, and the message sticks – as simple as that!</p>
                                            <p class="mt-2">Commitment is something that comes from understanding that everything has its price and then having the willingness to pay that price. This is important because nobody wants to put significant effort into
                                                something, only to find out after the fact that the price was too high.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>








    <!-- relase product -->

    <section class="slick-slider bg-holder bg-overlay-black-50 ">
        <!-- Create your own class for the containing div -->
        <div class="container">
            <div class="slick-sliderbox">
                <div class="slick-tittle">
                        <span class="sub-title text-secondary">
                        <span class="title-shape me-2">seemore?</span> </span>
                    <h2>related products</h2>
                    <div class="about-box-border-yellow">

                    </div>
                    <div class="about-box-border-blue">

                    </div>
                </div>

                <div class="slick-carousel" style="margin-top: 50px;">
                    <!-- Inside the containing div, add one div for each slide -->
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>
                    <div class="product">
                        <!-- You can put an image or text inside each slide div -->
                        <a href=""> <img style="width: 240px; height: 240px;" src="https://wheytot.com/images/pro/sua-tang-co-critical-whey-227g-75-lan-dung_6729.jpg"></a>
                        <div class="tittle">tittle</div>
                        <div class="price">50k</div>
                    </div>


                </div>
            </div>
        </div>
    </section>








</section>



</body>

</html>