@media only screen and (max-width: 39.375em) {
    .wrap {
        width: 98%;
        padding: 2% 0;
   }
    .projTitle {
        font-size: 1.5em;
        padding: 10% 5%;
   }
    .heading {
        padding: 1em;
        font-size: 90%;
   }
    .cart .items .cartSection {
        width: 90%;
        display: block;
        float: left;
   }
    .cart .items .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: 0.5em 0;
        float: right;
   }
    .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 0.25em;
        font-size: 0.75em;
   }
    .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
        display: none;
   }
    .cart .items .cartSection .itemImg {
        width: 25%;
   }
    .promoCode, .subtotal {
        width: 100%;
   }
    a.btn.continue {
        width: 100%;
        text-align: center;
   }
}
